.result {
  text-align: center;
  font-size: 5vmin;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #212121;
  background-color: rgb(245, 244, 250, 0.7);
  border: thick double #32a1ce;
  border-radius: 10px;
  display: block;
  padding: 5px;
  width: fit-content;
  margin: 20px auto;
  margin-top: 20%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: form-animation 0.5s ease-out;
}
.result span {
  color: #0060df;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: form-animation 0.5s ease-out;
}
.noResult {
  text-align: center;
  font-size: 4vmax;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #212121;
  background-color: rgb(245, 244, 250, 0.7);
  border: thick double #32a1ce;
  border-radius: 10px;
  display: block;
  padding: 5px;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: form-animation 0.5s ease-out;
}

.tP {
  text-align: center;
  font-size: 3vmin;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #212121;
  background-color: rgb(245, 244, 250, 0.7);
  border: thick double #32a1ce;
  border-radius: 10px;
  width: fit-content;
  padding: 5px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: form-animation 0.5s ease-out;
}

@keyframes form-animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
